<svg class="usa-matrix-symbol-definitions">
  <symbol id="usa-matrix-bad-contrast-ratio" viewBox="0 0 100 100">
    <rect width="100" height="100" fill="#f0f0f0"/>
    <line x1="0" y1="100" x2="100" y2="0" stroke="white" stroke-width="4"/>
  </symbol>
</svg>

{% for background in site.data.palette %}
  <h2>{{ background.name | capitalize }} background</h2>
  <hr>
  {% assign reversed_palette = site.data.palette | reverse %}
  {% for foreground in reversed_palette %}
  {% if background != foreground %}

  {% assign ratio = foreground.hex | contrast_ratio with: background.hex %}

  <div class="color-row">
    <div class="color-row--text">
      <h3>With {{foreground.name }} elements</h3>
      <p><span class="hex-preview hex-preview--{{foreground.name }}">#{{foreground.hex }}</span> on <span class="hex-preview hex-preview--{{{background.name }}">#{{background.hex }}</span> has a contrast ratio of <strong>{{ ratio | human_readable_contrast_ratio }}</strong>.</p>
      {% if ratio <= 3.1 %}
        <p><strong>Do not use this combination.</strong></p>
      {% endif %}
    </div>

    {% if ratio >= 3.1 %}
    <div class="color-row--preview background-color--{{ background.name }}">
      {% if ratio >= 4.5 %}
        <p class="text-color--{{ foreground.name }}">
          OK for text
        </p>
        <p class="text-color--{{ foreground.name }} color-row--preview-non-text">
          OK for non-text elements
        </p>
      {% else %}
        <p class="text-color--{{ foreground.name }} color-row--preview-non-text low-contrast-with--{{background.name}}">
          OK for non-text elements
        </p>
      {% endif %}


    </div>
    {% else %}
      <svg class="color-row--preview">
        <use xlink:href="#usa-matrix-bad-contrast-ratio"/>
      </svg>
    {% endif %}

  </div>
  <hr>
  {% endif %}
  {% endfor %}
{% endfor %}
