<svg class="usa-matrix-symbol-definitions">
  <symbol id="usa-matrix-bad-contrast-ratio" viewBox="0 0 100 100">
    <rect width="100" height="100" fill="#f0f0f0"/>
    <line x1="0" y1="100" x2="100" y2="0" stroke="white" stroke-width="4"/>
  </symbol>
</svg>

<div class="usa-matrix-legend">
  <svg><use xlink:href="#usa-matrix-bad-contrast-ratio"/></svg>

  <p class="usa-sr-invisible" aria-hidden="true">
    <strong>Don&rsquo;t</strong> use these color combinations. They don&rsquo;t have enough contrast to meet accessibility standards, and some people will have difficulty reading the text.
  </p>
</div>

{% for background in site.data.palette %}
  <h2>{{ background.name | capitalize }} backgrounds</h2>
  <hr>
  {% assign reversed_palette = site.data.palette | reverse %}
  {% for foreground in reversed_palette %}
  {% if background != foreground %}
  {% assign ratio = foreground.hex | contrast_ratio with: background.hex %}
  {% if ratio >= 4.5 %}
  <div class="usa-matrix-preview usa-color-{{ background.name }}"
       title="The contrast ratio of {{ foreground.name }} on {{ background.name }} is {{ ratio | human_readable_contrast_ratio }}."
       role="presentation">
    <strong class="usa-matrix-foreground-{{ foreground.name }} usa-sr-invisible" aria-hidden="true">
      Aa
    </strong>
  </div>
  <div class="usa-matrix-preview--text">
    <p><strong>Accessible</strong></p>
    <p>A {{ background.name }} (<span class="usa-matrix-hexbox usa-matrix-hexbox--{{ background.name }}">#{{background.hex }}</span>) background with {{foreground.name }} (<span class="usa-matrix-hexbox usa-matrix-hexbox--{{foreground.name }}">#{{foreground.hex }}</span>) text has a contrast ratio of {{ratio | human_readable_contrast_ratio }}.</p>
  </div>
  <hr>
  {% else %}
  <svg class="usa-matrix-preview">
    <use xlink:href="#usa-matrix-bad-contrast-ratio"/>
  </svg>
  <div class="usa-matrix-preview--text">
    <p><strong>Not accessible</strong></p>
    <p>A {{ background.name }} (<span class="usa-matrix-hexbox usa-matrix-hexbox--{{ background.name }}">#{{background.hex }}</span>) background with {{foreground.name }} (<span class="usa-matrix-hexbox usa-matrix-hexbox--{{foreground.name }}">#{{foreground.hex }}</span>) text has a contrast ratio of {{ratio | human_readable_contrast_ratio }}.</p>
  </div>
  <hr>
  {% endif %}
  {% endif %}
  {% endfor %}
{% endfor %}
