{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <nav>
    <ul class="usa-sidenav-list">
      <li> 
        <a {% if page.url == "/" %}class="usa-current"{% endif %} href="/">Introduction</a>
      </li>
      <li>
        <a {% if current[1] == 'visual-style' %}class="usa-current"{% endif %} href="/visual-style/">Visual style</a>
        <ul class="usa-sidenav-sub_list visual-style-sublist">
          <li>
            <a href="#logo">Logo</a>
          </li>
          <li>
            <a href="#colors">Color palette</a>
          </li>
          <li>
            <a href="#typography">Typography</a>
          </li>
        </ul>
      </li>
      <li>
        <a {% if current[1] == 'resources' %}class="usa-current"{% endif %} href="/resources/">Resources</a>
        <ul class="usa-sidenav-sub_list visual-style-sublist">
          <li>
            <a href="#instructions">Instructions</a>
          </li>
          <li>
            <a href="#keynote">Keynote</a>
          </li>
          <li>
            <a href="#desktop">Desktop art</a>
          </li>
        </ul>
      </li> 
    </ul>
  </nav>
</aside>
