{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <nav>
    <ul class="usa-sidenav-list">
      <li>
        <a {% if page.url == "/" %}class="usa-current"{% endif %} href="{{ site.baseurl }}/">Introduction</a>
      </li>
      <li>
        <a {% if current[1] == 'logo' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/logo/">Logo</a>
      </li>
      <li>
        <a {% if current[1] == 'color-palette' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/color-palette/">Color palette</a>
      </li>
      <li>
        <a {% if current[1] == 'typography' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/typography/">Typography</a>
      </li>
      <li>
        <a {% if current[1] == 'presentation-themes' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/presentation-themes/">Presentation Themes</a>
      </li>
      <li>
        <a {% if current[1] == 'desktop-art' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/desktop-art/">Desktop art</a>
      </li>
    </ul>
  </nav>
</aside>
