.usa-matrix-foreground-white {
  color: $color-white;

  // https://css-tricks.com/adding-stroke-to-web-text/
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.usa-matrix-foreground-light {
  color: $color-light;
}

.usa-matrix-foreground-bright {
  color: $color-bright;
}

.usa-matrix-foreground-medium {
  color: $color-medium;
}

.usa-matrix-foreground-dark {
  color: $color-dark;
}

.usa-matrix-foreground-black {
  color: $color-black;
}

td[scope="row"] .usa-matrix-square {
  float: left;
  margin-right: 8px;
}

.usa-matrix td {
  vertical-align: top;
}

.usa-matrix-square {
  width: 4em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;

  strong {
    text-shadow: none;
  }
}
