//// background color helpers
.usa-color-white {
  background-color: $color-white;
  box-shadow: inset 0 0 0 1px $color-gray-divider;
}

.usa-color-light {
  background-color: $color-light;
}

.usa-color-bright {
  background-color: $color-bright;
}

.usa-color-medium {
  background-color: $color-medium;
}

.usa-color-dark {
  background-color: $color-dark;
}

.usa-color-black {
  background-color: $color-black;
}

.usa-color-short {
  height: 7rem;
  margin-bottom: 1rem;
}

//// color palette display

.usa-color-name {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 1rem;
  text-transform: capitalize;
}

.usa-color-hex {
  margin-bottom: 1em;
  margin-top: 0;

  @include at-media(tablet) {
    margin: 0;
  }
}

.usa-color-row {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

.usa-primary-color-section {
  @include at-media(tablet) {
    margin-bottom: 8rem;
  }
  margin-bottom: 0;

  .usa-color-square {
    margin-bottom: 7rem;
    padding-bottom: 50%;
    width: 48%;
    float: left;
    margin-right: 2%;
    position: relative;

    @include at-media(tablet) {
      width: 14.66%;
      margin-bottom: 0;
      padding-bottom: 14.66%;
    }
  }
}

.usa-color-inner-content {
  position: absolute;
  top: 100%;
}

//// color matrix legend
.usa-matrix-legend {
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
  }

  p {
    margin-left: 45px;
    font-size: 0.75em;
  }
}

//// color matrix

// .usa-sr-invisible[aria-hidden="true"] {
//   display: block !important;
// }

.usa-matrix-row {
  margin-bottom: 2em;
}

.usa-matrix-foreground-white {
  color: $color-white;

  // https://css-tricks.com/adding-stroke-to-web-text/
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.usa-matrix-foreground-light {
  color: $color-light;
}

.usa-matrix-foreground-bright {
  color: $color-bright;
}

.usa-matrix-foreground-medium {
  color: $color-medium;
}

.usa-matrix-foreground-dark {
  color: $color-dark;
}

.usa-matrix-foreground-black {
  color: $color-black;
}

// .usa-matrix h2 {
//   margin-top: 2em;
//   display: block;
//   width: 100%;
// }

.usa-matrix-column {
  width: 50%;
  float: left;
  min-height: 286px;
  padding-right: 1.5em;

  @include at-media(tablet) {
    min-height: auto;
    width: 20%;
    padding-right: 0.5em;
  }

  p {
    margin-top: 0;
    @include at-media(tablet) {
      margin-bottom: 0.8em;
      font-size: 0.8em;
    }
  }
}

.usa-matrix-preview {
  width: 7em;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8em;

  @include at-media(tablet) {
    width: 6em;
    height: 6em;
  }

  strong {
    text-shadow: none;
  }
}

.usa-matrix-preview--text {
  padding-right: 10%;
}

//// inline hexbox previews

.usa-matrix-hexbox::before {
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.usa-matrix-hexbox--white::before {
  @extend .usa-color-white;
}

.usa-matrix-hexbox--light::before {
  @extend .usa-color-light;
}

.usa-matrix-hexbox--bright::before {
  @extend .usa-color-bright;
}

.usa-matrix-hexbox--medium::before {
  @extend .usa-color-medium;
}

.usa-matrix-hexbox--dark::before {
  @extend .usa-color-dark;
}

.usa-matrix-hexbox--black::before {
  @extend .usa-color-black;
}

.usa-matrix-symbol-definitions {
  display: none;
}
