//// color helpers
.background-color--white {
  background-color: $color-white;
  box-shadow: inset 0 0 0 1px $color-gray-divider;
}

.background-color--light {
  background-color: $color-light;
}

.background-color--bright {
  background-color: $color-bright;
}

.background-color--medium {
  background-color: $color-medium;
}

.background-color--dark {
  background-color: $color-dark;
}

.background-color--black {
  background-color: $color-black;
}

p.text-color--light {
  color: $color-light;
}

p.text-color--bright {
  color: $color-bright;
}

p.text-color--medium {
  color: $color-medium;
}

p.text-color--dark {
  color: $color-dark;
}

p.text-color--black {
  color: $color-black;
}

p.text-color--white {
  color: $color-white;
}

// palette previews

.usa-primary-color-section {
  @include at-media(tablet) {
    margin-bottom: 8rem;
  }
  margin-bottom: 0;

  .usa-color-square {
    margin-bottom: 7rem;
    padding-bottom: 50%;
    width: 48%;
    float: left;
    margin-right: 2%;
    position: relative;

    @include at-media(tablet) {
      width: 14.66%;
      margin-bottom: 0;
      padding-bottom: 14.66%;
    }
  }
}

.usa-color-inner-content {
  position: absolute;
  top: 100%;
}

.usa-color-name {
  font-weight: bold;
  margin-bottom: 0;
  text-transform: capitalize;
}

.usa-color-hex {
  margin-top: 0;
}


//// color rows

.color-row {
  margin-top: 1em;
  margin-bottom: 1em;

  @include at-media(tablet) {
    height: 9em;
  }
}

.color-row--preview {
  width: 9em;
  height: 9em;

  p {
    margin: 1em;
  }

  p:first-child {
    padding-top: 1em;
  }

  @include at-media(tablet) {
    float: left;

    p:first-child {
      padding-top: 0;
    }
  }

}

.color-row--text {
  @include at-media(tablet) {
    width: calc(100% - 11em);
    float: right;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-right: 4em;
  }

}

// nontext elements icon styling

.color-row--preview-non-text {

  &::before {
    background: none;
    content: '';
    display: inline-block;
    webkit-mask: url('../uswds/img/checkbox-check-print.svg') no-repeat 50% 50%;
    mask: url('../uswds/img/checkbox-check-print.svg') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
  }

  &.text-color--white::before {
    @extend .background-color--white;
  }

  &.text-color--light::before {
    @extend .background-color--light;
  }

  &.text-color--bright::before {
    @extend .background-color--bright;
  }

  &.text-color--medium::before {
    @extend .background-color--medium;
  }

  &.text-color--dark::before {
    @extend .background-color--dark;
  }

  &.text-color--black::before{
    @extend .background-color--black;
  }

}

// nontext elements changing text color if too low contrast
p.low-contrast-with--black,
p.low-contrast-with--dark,
p.low-contrast-with--medium {
  color: $color-white;
}

p.low-contrast-with--white,
p.low-contrast-with--light,
p.low-contrast-with--bright {
  color: $color-black;
}


// hex previews

.hex-preview::before {
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.hex-preview--white::before {
  @extend .background-color--white;
}

.hex-preview--light::before {
  @extend .background-color--light;
}

.hex-preview--bright::before {
  @extend .background-color--bright;
}

.hex-preview--medium::before {
  @extend .background-color--medium;
}

.hex-preview--dark::before {
  @extend .background-color--dark;
}

.hex-preview--black::before {
  @extend .background-color--black;
}

hr {
  border: 1px solid $color-gray-lightest;
}


.usa-matrix-symbol-definitions {
  display: none;
}

.usa-matrix-legend {
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
  }

  p {
    margin-left: 45px;
    font-size: 0.75em;
  }
}

td[scope="row"] > div {
  display: flex;

  .usa-matrix-desc {
    flex: 1;
  }
}

.usa-matrix p {
  font-size: 0.75em;
}

.usa-matrix-desc {
    font-size: 0.75em;
  }
