// Variables -------------- //

$width-nav-sidebar:  250px;
$site-top:           98px;

// Navigation ------------- //

.usa-site-header {
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-light;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  
  a {
    border-bottom: none;
  }

  .usa-site-navbar {
    @include media($medium-screen + $width-nav-sidebar) {
      height: 6rem;
      margin: {
        bottom: 1rem;
        top: 2.7rem;
      }
    }
    margin-top: 4px;

    .logo {
      @include media($medium-screen + $width-nav-sidebar) {
        padding-left: $site-margins;
        text-align: left; 
        padding-top: 0;
        width: auto;
      }
      float: left;
      text-align: center;
      padding-top: 1.3rem;
      width: 70%;

      a {
        color: $color-gray;

        &:hover {
          color: $color-gray-dark;
          text-decoration: none;
        }
      }
    }

    h1 {
      @include media($medium-screen + $width-nav-sidebar) {
        display: block;
        font-size: $h3-font-size;
        margin-top: .9rem;
      }
      margin: 0;
      font-size: $h5-font-size;
    }
  }
}

.menu-btn {
  @include media($medium-screen + $width-nav-sidebar) {
    display: none;
  }
  display: inline;
  float: left;
  margin-top: -4px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: $color-white;
  background-color: $color-primary;
  font-size: 1.5rem;
  width: 15%;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: $color-white;
    background-color: $color-primary-darker;
  }
  
  &:visited {
    color: $color-white;
  }
}

#menu-content {
  @media (max-width: $medium-screen + $width-nav-sidebar) {
    $sliding-panel-width: 220px;

    @include position(fixed, 0 auto 0 0);
    @include size($sliding-panel-width 100%);
    @include transform(translateX(- $sliding-panel-width));
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999;
    display: block;
    &.is-visible {
      @include transition(all 0.25s linear);
      @include transform(translateX(0));
    }
  }
}

.overlay {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  &.is-visible {
    visibility: visible;
  }
}

// Main Content --------- //

.main-content {
  @include media($medium-screen) {
    top: $site-top;
  }
  position: absolute;
  top: 4rem;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: {
    bottom: 0;
    top: 1em;
  }
  z-index: -1;

  .lt-ie9 & {
    width: 75%;
  }

  @include media($medium-screen + $width-nav-sidebar) {
    width: calc(100% - #{$width-nav-sidebar});
    
    .lt-ie9 & {
      width: 75%;
    }
  }
}

.styleguide-header {
  font-weight: normal;
  h2 & {
    color: pink;
  }
}

h2.styleguide-header {
  border-bottom: 2px solid $color-base;
  padding-bottom: .5em;
}

.download_link {
  display: inline-block;
  margin-bottom: 1em;
}

// Sidebar Nav --------- //

.sidenav {
  position: fixed;
  top: $site-top;
  bottom: 0;
  left: 0;
  width: $width-nav-sidebar;
  border-right: 1px solid $color-gray-light;
  padding: 5rem 3rem 3rem 3rem;
  overflow: auto;
  display: none;
  z-index: -1;
  
  .lt-ie9 & {
    width: 25%;
  }

  .usa-sidenav-sub_list {
    display: none;
  }

  @include media($medium-screen + $width-nav-sidebar) {
    display: block;
  }
}

.sidenav .usa-current ~ .usa-sidenav-sub_list {
    display: block;
}

// Styleguide Content -------- //

.styleguide-content {
  margin-bottom: 5em;
  max-width: $site-max-width;
  padding: {
    left: 2em;
    right: 2em;
  }
  position: relative;

  > h1 {
    margin-top: 3.4rem;
    &:not(:first-child) {
      margin-top: 1.5em;
    }
  }
  @media (min-width: $medium-screen + $width-nav-sidebar) {
    padding: {
      left: 3em;
      right: 3em;
    }
  }
}

// Footer --------------- //

.usa-styleguide-footer {
  background-color: $color-primary-darker;
  padding: {
    bottom: 3rem;
    top: 3rem;
  }

// This is a styleguide-only rule and is not needed in the main library code for 
// the footer component which uses different styles
  p, a {
    @include media($medium-screen) {
      margin-bottom: 0;
    }
    color: $color-white;
    font-size: $h5-font-size;
    margin: {
      bottom: 1.5rem;
      top: 0;
    }
  }
}

.type-example {
  margin-top: .5em;
}
