// Typography
$font-sans:       'Nimbus Sans','Helvetica', 'Arial', sans-serif;
$font-serif:      'Georgia', 'Times New Roman', serif;

// Color
$color-primary:              #20bee9;
$color-primary-dark:         #17263a;
$color-primary-light:        #b5effe;
$color-black:                #000000;