// Typography
$font-sans:       'Nimbus Sans','Helvetica', 'Arial', sans-serif;
$font-serif:      'Georgia', 'Times New Roman', serif;

// Color
$color-primary-darkest:      #1C304A;
$color-primary-dark:         #027eab;
$color-primary:              #00cfff;
$color-primary-light:        #b3efff;

$color-black:                #000000;
