---
permalink: /color-palette/
layout: default
title: Color palette
---

<p>For Adobe, Sketch, and Mac applications</p>
<a class="usa-button usa-button-gray" href="{{ site.baseurl }}/assets/dist/18F_Color_Palette.zip">Download color palettes</a>

<div class="usa-grid-full usa-color-row usa-primary-color-section">
  {% for color in site.data.palette %}
  <div class="usa-color-square usa-color-{{ color.name }} {% cycle '', 'usa-mobile-end-row' %}">
    <div class="usa-color-inner-content">
      <p class="usa-color-name">{{ color.name }}</p>
      <p class="usa-color-hex">#{{ color.hex }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<br>


<h2>Guidelines</h2>
<p><strong>Do</strong> use the 18F brand colors in combinations that conform with accessibility standards. Each of these combinations meets or exceeds a contrast ratio of 4.5:1, and is approved for body and headline text. For more details on color contrast, read the <a href="https://pages.18f.gov/accessibility/">18F Accessibility Guide</a>.</p>


{% include color-matrix.html %}
